*{
    box-sizing: border-box;
}

body{
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    line-height: 1.6;
    max-width: 1300px;
    min-width: 320px;
    margin: 0 auto;
}

p{
    margin: 5px 0;
}

h1{
    margin: 8px 0;
}

h2{
    margin: 8px 0;
    text-decoration: underline;
}

span{
    font-weight: 600;
}

#container{
    width: 75%;
    margin: 0 auto;
}


/* header */
header{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    float: left;
}

header img{
    max-width: 24%;
    min-width: 226px;
    height: auto;
    border-radius: 50%;
    float: left;
    margin: 10px 20px 0 0;
    padding: 2px;
}

#header-text{
    float: left;
}

header ul{
    list-style-type: none;
    padding-left: 20px;
    margin: 0;
}

header li{
    margin-bottom: 3px;
}

.clear{
    clear: both;
}
/* //header */

/* main */
main{
    padding: 10px;
    border-top: 1px solid #000;
}

article{
    margin-bottom: 20px;
}

article li p{
    margin: 0;
}

/* //main */

/* footer */
footer{
    border-top: 1px solid #000;
    text-align: center;
    padding: 10px;
    font-size: 0.75em;
}

/* //footer */